body{
  color: #f8f5f5;
}
img{

  padding: 10px;
  max-width: 100%;
  margin: 0 auto;

}
main{
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
}
header{

  display:flex;
  justify-content: space-between;
  margin-bottom: 50px;
  column-gap: 20px;
}
header a{
  font-style: italic;
  text-decoration:none;
  color: inherit;
}
header a.logo{
  font-weight: bolder;
  font-size: larger;
}
header nav{
  display:flex;
  gap: 100px;
}

